<li id="<%= feed_item.id %>">
  <span class="user"> <%= link_to feed_item.user.name, feed_item.user %> </span>
  <span class="content"><%= feed_item.name %></span>
  <span class="content"><%= feed_item.income %></span>
  <span class="content"><%= feed_item.increase_mean %></span>
  <span class="content"><%= feed_item.increase_sd %></span>
  <span class="content"><%= feed_item.expense_mean %></span>
  <span class="content"><%= feed_item.expense_sd %></span>
  <span class="timestamp"> Posted <%= time_ago_in_words(feed_item.created_at) %> ago. </span>
  <% if current_user?(feed_item.user) %>
    <!--%= link_to "delete", feed_item, method: :get, data: { confirm: "You sure?" }, title: feed_item.income %-->
    <%= link_to "Run", feed_item %>
  <% end %>
</li>

